@import url("fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
}
/*header*/
.header {
  width: 100%;
  background: #2d303a;
  padding: 0 40px 4px;
  display: flex;
  height: 95px;
  border-bottom: 6px solid #323746;
  align-items: center;
  justify-content: space-between;
}

.title-link{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 6.32px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.title-red {
  color: #f06c64;
}

.header__menu {
  position: relative;
  top: 4.5px;
}

.menu__item {
  display: inline;
  list-style: none;
}

.menu__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  margin-right: 24.3px;
}

.menu__link::after {
  content: "·";
  color: #494e62;
  position: relative;
  left: 14px;
}

.menu__link:hover {
  transition: 0.2s linear;
  color: #f06c64;
}

.menu__list li:last-child a {
  margin: 0;
}

.menu__list li:last-child a::after {
  content: "";
}
/*slider*/
.slider {
  width: 100%;
  background: #f06c64;
  padding: 0 40px 4px;
  display: flex;
  height: 600px;
  border-bottom: 6px solid #ea676b;
  align-items: center;
  justify-content: space-between;
}

.slider__iphone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
}

.iphone {
  position: relative;
} 

.iphone-vertical {
  left: 1.8px;
  top: 0.6px
}

.iphone-horizontal {
  right: 0.9px;
  top: 0px
}

.slider__arrow {
  position: relative;
}

.arrow {
  cursor: pointer;
  filter: brightness(0.9)
}

.arrow:hover {
  transition: all 0.2s linear;
  opacity: 0.7;
}

.arrow-right {
  top: 1.5px;
}

.arrow-left {
  transform: rotate(180deg);
  bottom: 2.5px;
  left: 1.5px;
}
/*services*/
.services {
  width: 100%;
  background: #f2f2f2;
  padding: 60px 40px 27px;
  display: flex;
  height: 500px;
  border-bottom: 6px solid #ffffff;
  flex-direction: column;
  justify-content: space-between;
}

.services__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 105px;
}

.service__title {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 900;
  color: #666d89;
  letter-spacing: -0.2px;
  
}

.service__subtitle {
  margin-top: 17px;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0px;
  font-weight: 300;
  color: #767e9e;
  height: 59.2px;
  overflow: hidden;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 247px;
}

.services__item {
  display: flex;
  width: 300px;
  text-overflow: clip;
  overflow: hidden;
}

.services__image {
  margin-right: 20px;
}

.services__discribe {
  position: relative;
  bottom: 4px;
}

.services__name {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
  letter-spacing: -0.1px;
  margin-bottom: 9px;
}

.services__text {
  font-size: 12px;
  line-height: 21.56px;
  text-align: justify;
  letter-spacing: 0px;
  font-weight: 400;
  color: #767e9e;
  max-width: 221px;
  max-height: 63px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.services__item:nth-child(6) .services__discribe h3,
.services__item:nth-child(3) .services__discribe h3 {
  position: relative;
  left: 1px;
}
/*portfolio section*/
.portfolio {
  height: 869px;
  width: 100%;
  background: #2d303a;
  padding: 69.5px 40px 0;
  border-bottom: 6px solid #323746;
}

.portfolio__titles {
  color:#666d89;
}

.portfolio__titles h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 17.86px;
  letter-spacing: -0.2px;
  margin-bottom: 27px;
}

.portfolio__titles p {
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
  font-weight: lighter;
}

.portfolio__menu {
  margin-top: 11px;
  padding: 0 1px;
}

.portfolio__item {
  box-sizing: content-box;
  display: inline-flex;
  list-style: none;
  border: 1px solid #666d89;
  padding: 0 6px;
  border-radius: 5px;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 7.5px;
}

.portfolio__item:nth-child(4)  {
  padding:0 5px 0px;
}

.portfolio__item:nth-child(3){
  margin-right: 8px;
  padding-right: 4px;
}

.portfolio__item:nth-child(2){
  margin-right: 7.5px;
  padding-right: 6px;
}

.portfolio__link {
  text-decoration: none;
  color: #666d89;
  font-size: 12px;
  line-height: 21.56px;
}

.portfolio__link:hover {
  color: #dedede;
  transition: 0.2s linear;
}

.portfolio__item:hover {
  border:1px solid #dedede;
  transition: 0.2s linear;
  color: #dedede;
}

.portfolio__examples {
  margin-top: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 16.8px;
}

.portfolio__image:nth-child(n+13) {
  display: none;
}

/*about us section*/
.about-us {
  width: 100%;
  background: #f2f2f2;
  padding: 60px 40px 0;
  height: 735px;
  border-bottom: 6px solid #ffffff;

}

.about-us__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 105px;
}

.about-us__title {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 900;
  color: #666d89;
  letter-spacing: -0.2px;
  
}

.about-us__subtitle {
  margin-top: 17px;
  font-size: 18px;
  line-height: 31px;
  text-align: justify;
  letter-spacing: 0px;
  font-weight: 300;
  color: #767e9e;
}

.about-us__stuff {
  margin-top: 52.5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.about-us__person:nth-child(2) {
  position: relative;
  right: 1px;
}

.about-us__photo {
  margin-bottom: 12px;
}

.about-us__discribe {
  position: relative;
  right: 1px;
  margin-bottom: 74px;
}

.about-us__discribe h3 {
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
  letter-spacing: -0.15px;
  text-align: justify;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
}

.about-us__discribe p {
  font-size: 12px;
  color: #767e9e;
  line-height: 21.56px;
  width: 310px;
  position: absolute;
  letter-spacing: -0.05px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about-us__person:nth-child(1) .about-us__discribe p span {
  letter-spacing: 0.05px;
}

.about-us__person:nth-child(2) .about-us__discribe p {
  letter-spacing: 0.15px;
}

.about-us__person:nth-child(2) .about-us__discribe p span {
  letter-spacing: -0.05px;
}

.about-us__person:nth-child(3) .about-us__discribe p {
  letter-spacing: 0.15px;
}

.about-us__person:nth-child(3) .about-us__discribe p span {
  letter-spacing: -0.09px;
}

.about-us__person:nth-child(2) .about-us__discribe h3 {
  position: relative;
  left: 1px;
}

.social-media  {
  position: relative;
  left: 1px;
  margin-right: 5px;
}

.about-us__person:nth-child(1) .about-us__social-media .social-media:nth-child(3),
.about-us__person:nth-child(1) .about-us__social-media .social-media:nth-child(4) {
  position: relative;
  left: 0.5px;
}

.about-us__person:nth-child(3) .about-us__social-media .social-media:nth-child(1),
.about-us__person:nth-child(3) .about-us__social-media .social-media:nth-child(2) {
  position: relative;
  left: 0px;
}

.about-us__person:nth-child(3) .about-us__social-media .social-media {
  margin-right: 4.5px;
}

.social-media:hover {
  transition: 0.2s linear;
  opacity: 0.7;
}

/*get-a-quote section*/
.get-a-quote {
  position: relative;
  bottom: 1.5px;
  height: 654.5px;
  width: 100%;
  background: #f06c64;
  padding: 59.5px 40px 0;
  border-bottom: 6px solid #ea676b;
}

.get-a-quote__titles h2 {
  font-size: 30px;
  font-weight: 900;
  color: #f0d8d9;
  letter-spacing: -0.2px;
}

.get-a-quote__titles p {
  margin-top: 17px;
  font-size: 18px;
  line-height: 31px;
  text-align: justify;
  letter-spacing: 0px;
  font-weight: 300;
  color: #f0d8d9;
}

.get-a-quote__contacts {
  display: flex;
}

.get-a-quote__form {
  margin-top: 44px;
}

.form {
  display: flex;
  flex-direction: column;
}

form input {
  height: 38px;
  width: 619.5px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  padding: 0 14px;
  margin-bottom: 16px;
  background: #d6564f;
  font-size: 12px;
  outline: none;
  color: #f48c8f;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { 
  color: #f48c8f; 
}

form input:nth-child(3) {
  margin-bottom: 16px;
}

form input:nth-child(5) {
  margin-bottom: 0;
  width: 110px;
  cursor: pointer;
}

form input:focus {
  transition: all 0.1s linear;
  border: 2px solid #ffffff5d;
}

form textarea:focus {
  transition: all 0.1s linear;
  border: 2px solid #ffffff5d;
}

form textarea {
  height: 202px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  resize: none;
  background: #d6564f;
  font-size: 12px;
  padding: 11px 15px;
  outline: none;
  color: #f48c8f;
  margin-bottom: 16px;
}

.get-a-quote__contact-info {
  margin-left: 21px;
  margin-top: 42px;
}

.get-a-quote__info-titles {
  margin-bottom: 24px;
}

.get-a-quote__info-titles h3 {
  font-size: 18px;
  font-weight: 900;
  color: #f0d8d9;
  letter-spacing: -0.1px;
  text-transform: capitalize;
  margin-bottom: 9px;
}

.get-a-quote__info-titles p {
  font-size: 12px;
  line-height: 21.56px;
  color: #f0d8d9;
  text-align: justify;
  word-spacing: -1px;
}

.get-a-quote__info-titles p span {
  position: relative;
  top: 1px;
  letter-spacing: 0.1px;
}

.get-a-quote__info {
  position: relative;
  left: 2.7px;
}

.get-a-quote__info a {
  font-size: 12px;
  text-decoration: none;
  color: #f0d8d9;
  margin: 0 0 8px 10px;
}

.location {
  position: relative;
  right: 0.5px;
  top: 0.5px;
}

.phone {
  position: relative;
  right: 2.5px;
  top: 2px;
}

.phone a {
  margin: 0 0 8px 8px;
  letter-spacing: 0px;
}

.mail {
  position: relative;
  right: 3px;
  top: 4.5px;
}

.mail a {
  margin: 0 0 0 7px;
}

/*footer*/

.footer {
  position: relative;
  bottom: 1.5px;
  display: flex;
  justify-content: space-between;
  height: 76px;
  width: 100%;
  background: #2d303a;
  padding: 29px 41px 0;
}

.footer__copyright {
  font-size: 12px;
  color: #666d89;
  letter-spacing: -0.1px;
}

.footer__copyright span:nth-child(2){
  position: relative;
  left: 4px;
}

.footer__copyright span:nth-child(1){
  position: relative;
  left: 2px;
  bottom: 0.5px;
}

.footer__social-media {
  position: relative;
  bottom: 7.4px;
  left: 1px;
}

.footer__icons {
  margin-left: 5px;
}

.footer__icons:hover {
  transition: 0.2s linear;
  opacity: 0.7;
}